#############Computation##########
numpy==2.1.2
scipy==1.14.1
#############Misc#################
holidays==0.59
#############Data#################
pandas==2.2.3
############Visualization#########

#############Connection###########
alpaca-py==0.43.4
#############Connection###########
ta==0.11.0